{% load static %}
<!DOCTYPE>
<html>
	<head>
		<meta charset="utf-8">
 		<!-- Custom stlylesheet -->
 		<link type="text/css" rel="stylesheet" href="{% static "css/style.css" %}"/>
	</head>
	<body>

  <form id="writeform" action="output" method="post">
   <table>
     <caption style='text-align:left; font-weight:bold; font-size:18px; margin-bottom:15px; margin-top:30px;'> Writing </caption>
     <tr>
      <td>&nbsp;</td>
      <td align="center">Title</td>
      <td><input id="title" size="80" maxlength="100"></td>
      <td>&nbsp;</td>
     </tr>
     <tr height="1" bgcolor="#dddddd"><td colspan="4"></td></tr>
     <tr>
      <td>&nbsp;</td>
      <td align="center">Content</td>
      <td><textarea id="memo" cols="73" rows="13"></textarea></td>
      <td>&nbsp;</td>
     </tr>
     <tr height="1" bgcolor="#dddddd"><td colspan="4"></td></tr>
    <tr>
      <td>&nbsp;</td>
      <td align="center">File</td>
      <!-- <td><input name="file" size="80" maxlength="50"></td> -->
      <td><input id="input_file" accept="image/*" type="file" size="80" maxlength="50" multiple></td>
      <td>&nbsp;</td>
     </tr>
     <tr height="1" bgcolor="#dddddd"><td colspan="4"></td></tr>
     <tr height="1" bgcolor="#dddddd"><td colspan="4"></td></tr>
     <tr height="10" ><td colspan="4"></td></tr>
     <tr align="center">
      <td>&nbsp;</td>
      <td colspan="2"><button type="submit" class="primary-btn order-submit">Post</button>
       <button type="button" onclick = "cancelCheck();" class="primary-btn order-submit">Cancel</button>
      <td>&nbsp;</td>
     </tr>
    </table>
  </form>
</body>

	<script src="https://www.gstatic.com/firebasejs/7.5.2/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.5.2/firebase-database.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.5.2/firebase-storage.js"></script>
	<script>

		   var firebaseConfig = {
		    apiKey: "AIzaSyA7jmSkNpk47WEGpAJVXuWRy2tfcf3-ieQ",
		    authDomain: "se-proj-db.firebaseapp.com",
		    databaseURL: "https://se-proj-db.firebaseio.com",
		    projectId: "se-proj-db",
		    storageBucket: "se-proj-db.appspot.com",
		    messagingSenderId: "239952264168",
		    appId: "1:239952264168:web:29facf8a846fb0d39e425d",
		    measurementId: "G-2ZQXSQXSLX"
		  };

		  firebase.initializeApp(firebaseConfig);
		  var database = firebase.database();

		var storageRef = firebase.storage().ref();

		var index;
		var boardname;
		var titleInput = document.getElementById("title");
		var memoInput = document.getElementById("memo");
		var fileInput = document.getElementById("input_file");
		var fileList = [];
		function init_write(){
			temp = location.href.split('?');
			data = temp[1].split(':');
			boardname = data[0];
			index = data[1];
		}
		init_write();

		function insertData(index, title, memo, date, file){
			database.ref(boardname+'/'+index).set({
				"a":title,
				"b":"{{ username }}",
				"c":date,
				"d":memo,
				"e":file
			});
		}

		(function exec(){
		writeform.addEventListener('submit', function (evnt) {
		        evnt.preventDefault();

			if(!titleInput.value )   // form 에 있는 name 값이 없을 때
			{
				alert( "Please write title" ); // 경고창 띄움
				return;
			}
   
			if(!memoInput.value ){
				alert( "Please write content");
				return;
			}

			var date = new Date().toISOString().slice(0, 10);
			if(!fileInput.value){
				insertData(index, titleInput.value, memoInput.value, date, '');
                if(boardname=='NoticeBoard'){
		            location.href='/board/notice/';
                }
                else if(boardname=='FraudBoard'){
		            location.href='/board/fraud/';
                }
                else{
                    location.href='/board/free/';
                }
			}
			else{
				      storageRef.child('boardImage/'+boardname+'/'+fileInput.files[0].name).put(fileInput.files[0]).then(function(snapshot){
					      snapshot.ref.getDownloadURL().then(function(url){
						insertData(index, titleInput.value, memoInput.value, date, url);
						if(boardname=='NoticeBoard'){
		                    location.href='/board/notice/';
                        }
                        else if(boardname=='FraudBoard'){
		                    location.href='/board/fraud/';
                        }
                        else{
                            location.href='/board/free/';
                        }
					      });
					});
			}

		  });

		})();


		function cancelCheck(){
            if(boardname=='NoticeBoard'){
		        location.href='/board/notice/';
            }
            else if(boardname=='FraudBoard'){
		        location.href='/board/fraud/';
            }
            else{
                location.href='/board/free/';
            }
		}
	</script>

</html>